/* 

    ğ—šğ—¶ğ˜ ğ˜ƒğ—® ğ—šğ—¶ğ˜ğ—›ğ˜‚ğ—¯ ğ—¯ğ—¶ğ—¹ğ—®ğ—» ğ—¶ğ˜€ğ—µğ—¹ğ—®ğ˜€ğ—µ


- GIT 

    -   ğ†ğ¢ğ­ ğ§ğ¢ğ¦ğš?  ğ•ğğ«ğ¬ğ¢ğ¨ğ§ ğ‚ğ¨ğ§ğ­ğ«ğ¨ğ¥ ğ’ğ²ğ¬ğ­ğğ¦ (ğ•ğ‚ğ’) - ğ•ğğ«ğ¬ğ¢ğ²ğš ğğ¨ğ¬ğ¡ğªğšğ«ğ¢ğ¬ğ¡ ğ“ğ¢ğ³ğ¢ğ¦ğ¢


    1. index.html
    2. about.html
    3. services.html






    -   ğ‘®ğ’Šğ’• ğ’‚ğ’‡ğ’›ğ’‚ğ’ğ’ğ’Šğ’Œğ’ğ’‚ğ’“ğ’Š:
        -   kod versiyasini nazorat qilish;
        -   qanday o`zgartirishlar kiritilganligi haqida ma`lumot beradi.
        -   o`zgartirish kiritilgan kodga kim tomonidan va qachon va aynan qaysi vaqtda kiritilganligi haqida ma`lumot beradi;
        -   loyihalar bilan ishlashda individual yoki jamoaviy bo`lib ishlash imkoniyatini yaratadi;
        -   git for marketing/product management/designers/custom support/human resourses/...






    -   ğ‘®ğ’Šğ’• ğ’—ğ’‚ ğ‘®ğ’Šğ’•ğ‘¯ğ’–ğ’ƒ ğ’‡ğ’‚ğ’“ğ’’ğ’Š
        -   Git - local - Version Control System
        -   GitHub - online - Version Control System Hosting Servise (Xizmati)






    -   ğ‘®ğ’Šğ’• ğ’…ğ’‚ğ’”ğ’•ğ’–ğ’“ğ’Šğ’ğ’Š ğ’`ğ’“ğ’ğ’‚ğ’•ğ’Šğ’”ğ’‰
        -   Windows uchun - Git Bash
        -   MacOS uchun - Terminal, iTerm, Kitty






    -   ğ‘®ğ’Šğ’•ğ’ğ’Š ğ’”ğ’ğ’›ğ’ğ’‚ğ’ƒ ğ’ğ’ğ’Šğ’”ğ’‰ ğ’šğ’‚`ğ’ğ’Š (ğ’ğ’‚ğ’”ğ’•ğ’“ğ’ğ’šğ’Œğ’‚ ğ’’ğ’Šğ’ğ’Šğ’”ğ’‰)
        -   git config...  - gitni sozlab olish uchun ishlatiladigan buyruq.
        -   git config --list  - barcha sozlamalarni ko`rsatish 
        -   git config user.name   - git foydalanuvchining ismi 
        -   git config user.email  - git foydalanuvchining emaili 
        -   Agar bularning hech qaysi biri sozlanmagan bo`lsa va endigina foydalanishni boshlagan bo`lsangiz. Unda uni sozlab olamiz. 
        -   git config --global user.name "username"
        -   git config --global user.email "email"


    -   ğ‘®ğ’Šğ’•ğ’…ğ’‚ ğ’šğ’‚ğ’ğ’ˆğ’Š ğ’ğ’ğ’šğ’Šğ’‰ğ’‚ ğ’šğ’‚ğ’“ğ’‚ğ’•ğ’Šğ’”ğ’‰ (ğ‘®ğ’Šğ’• ğ’“ğ’†ğ’‘ğ’ğ’”ğ’Šğ’•ğ’ğ’“ğ’š)
        -   repository ombor/loyiha
        -   git init  - yangi git loyihani boshlash uchun ishlatiladi. Faqat 1 marta ishlating loyiha uchun.
        -   git status  - o`zgarishga uchragan holatni tekshirish uchun.
        -   touch index.html  - touch buyrug`i bilan biz hohlagan fayl formatini yaratishimiz mumkin ekan, misol uchun mp.3, txt, h.k
        -   rm index.html - rm buyrug`i bilan biz hohlagan fayl formatini o`chirib tashlay olamiz.
        

    git add...  - loyihadagi yangi fayllar, o`zgarishlar va o`chirilishlarni xotiraga olish uchun navbatga qo`yiladi.
        -   git add faylnomi
        -   git add .


    git commit... - navbatda turgan fayllarni butunlay saqlash uchun va xotiraga saqlanayotganda xabar bilan qoldirishimiz kerak.
        -   git commit -m "xabaringiz" 
        -   git commit --amend -m "xabaringiz" - navbatsiz butunlay saqlash.
        -   git log  - shu paytgacha berilgan commitlar tarixi/ro`yhati, ya`ni kim qaysi vaqtda faylga o`zgartirish kiritganligini ko`rsatadi.

        
    

    


    -   ğ‘­ğ’‚ğ’šğ’ ğ’`ğ’›ğ’ˆğ’‚ğ’“ğ’Šğ’”ğ’‰ğ’ğ’‚ğ’“ğ’Šğ’ğ’Š ğ’ƒğ’†ğ’Œğ’ğ’“ ğ’’ğ’Šğ’ğ’Šğ’”ğ’‰.
        -   git checkout --faylnomi
        -   git checkout .
        -   git checkout maxsuskod - loyihamizning xohlagan versiyasida sayr qilishimiz mumkin.
        -   git checkout master - ayni oxirigi ishlayotgan versiya.






    -   ğ’ˆğ’Šğ’• ğ’‚ğ’…ğ’… ğ’…ğ’‚ğ’ˆğ’Š ğ’ğ’‚ğ’—ğ’ƒğ’‚ğ’•ğ’ğ’Š ğ’ƒğ’†ğ’Œğ’ğ’“ ğ’’ğ’Šğ’ğ’Šğ’”ğ’‰
        -   git reset faylnomi
        -   git reset .






    -   ğ‘©ğ’“ğ’‚ğ’ğ’„ğ’‰/ğ‘´ğ’†ğ’“ğ’ˆğ’†
        -   branch - filial
    -   ğ‘©ğ’“ğ’‚ğ’ğ’„ğ’‰ ğ’šğ’‚ğ’“ğ’‚ğ’•ğ’Šğ’”ğ’‰: 
        -   git branch - hozirgi mavjud branchlar ro`yhati.
        -   git branch nom - yangi branch yaratish
        -   git checkout nom - berilgan branchga o`tish
        -   git merge branchnomi - berilgan branchni mavjud branchga yuklab olish






    -   ğ‘³ğ’ğ’„ğ’‚ğ’ ğ’•ğ’‚ğ’“ğ’Šğ’›ğ’…ğ’‚ ğ’`ğ’›ğ’ˆğ’‚ğ’“ğ’•ğ’Šğ’“ğ’Šğ’ğ’ˆğ’‚ğ’ ğ’Œğ’ğ’…ğ’ğ’‚ğ’“ğ’ğ’Š ğ‘®ğ’Šğ’•ğ‘¯ğ’–ğ’ƒ ğ’‘ğ’“ğ’ğ’‡ğ’Šğ’ğ’†ğ’…ğ’‚ ğ’‰ğ’‚ğ’ ğ’`ğ’›ğ’ˆğ’‚ğ’“ğ’•ğ’Šğ’“ğ’Šğ’”ğ’‰
        -   git push 






    -   ğ‘©ğ’Šğ’“ğ’ğ’ğ’Š ğ‘®ğ’Šğ’•ğ‘¯ğ’–ğ’ƒ ğ’“ğ’†ğ’‘ğ’ğ’”ğ’Šğ’•ğ’ğ’“ğ’Šğ’šğ’‚ğ’”ğ’Šğ’…ğ’‚ğ’ ğ’„ğ’ğ’ğ’ğ’† ğ’ğ’ğ’Šğ’”ğ’‰
        -   





    -   ğ‘®ğ’ğ’ğ’ƒğ’‚ğ’ ğ’ğ’ğ’šğ’Šğ’‰ğ’‚ğ’ğ’Š ğ’ğ’ğ’„ğ’‚ğ’ğ’ˆğ’‚ ğ’„ğ’ğ’ğ’ğ’† ğ’’ğ’Šğ’ğ’Šğ’”ğ’‰
        -   git clone https://github




    -   ğ‘®ğ’Šğ’•ğ‘¯ğ’–ğ’ƒ ğ’“ğ’†ğ’‘ğ’ğ’”ğ’Šğ’•ğ’ğ’“ğ’šğ’‚ğ’ğ’Š ğ’`ğ’›ğ’Šğ’…ğ’‚ ğ’‚ğ’…ğ’… ğ’‡ğ’Šğ’ğ’† ğ’’ğ’Šğ’ğ’Šğ’ƒ ğ’–ğ’ğ’Š ğ’ğ’ğ’„ğ’‚ğ’ğ’…ğ’‚ ğ’`ğ’›ğ’ˆğ’‚ğ’“ğ’Šğ’”ğ’‰ğ’Š
        -   git pull























*/








































